/* -- Global -- */
$primary: #333;
$secondary: #ccc;
$btn-border: #AB4F00;
$btn: #FF9100;
$text-color: #fff;

/* -- Footer --*/
$divider-right: #777;
$divider-left: #000;


/*-- Misc. Colors --*/
$light-blue: #4DA2F2;
$dark-blue: #0057F3;